<app-login-home></app-login-home>
<section class="pl-3">
 <div>
     <h1 style="font-family:cursive;" >Media Details</h1>
     <h2><i class="fa fa-user" style="font-size:75px;"></i><span style="border:1px solid black;margin-left:50px;padding:5px;">Title........</span></h2>
 </div>
 <div class="row">
   <div class="col-4 ml-5 mt-5" style="border:2px solid black;height:600px;">
       <h2>Image</h2>
       <div style="float:right;"><i class="fa fa fa-heart" style="font-size:40px;"></i><i class="fa fa-thumbs-down" style="font-size:40px;"></i></div>
   </div>
   <div class="col-7 ml-5 mt-5">         
           <div class="btn-group w-100 col-5 " role="group" aria-label="Basic example">
             <button type="button" class="btn btn-outline-primary active">Sepia</button>
             <button type="button" class="btn btn-outline-primary" >Grey</button>
             <button type="button" class="btn btn-outline-primary " >Brightness</button>
             <button type="button" class="btn btn-outline-primary">Contrast</button>
           </div>            
           <div class="mt-5">
             <textarea class="form-control" rows="5" id="description" placeholder="Description"></textarea>
           </div>
           <div class="mt-5">
             <input type="text" readonly class="form-control" id="tags" placeholder="Tags">
           </div>
           <div class="mt-5">
              <p> <i class="fa fa fa-heart" style="font-size:40px;"></i> Likes  <i class="fa fa-comments" style="font-size:40px;"></i> Comments</p>
           </div>
           <div class="mt-5">
               <h3> Comments</h3>
            </div>

   </div>
 </div>
</section>