<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="centerBlock">
                <img class="img-responsive" src="../../assets/images/profile.png" class="img-responsive" alt="Profile Pic"
                style="width: 70px; height: 70px; margin-left:-500px;">
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 align-self-center">
                <h2 class="text-center"style="color:#65969c; float:left;"> Welcome {{userService.firstName}} </h2>
        </div>
    </div>
</div>
<hr>
    
    